@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap');

body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: black;
}

.texto {
    font-family: "Titan One", sans-serif;
    color: white;
    text-shadow: -5px 3px 0px purple;
}

.consejo {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 15px white;
}

.consejo:hover {
    background-color: purple;
    color: white;
    border: 2px solid black;
}

.btnAlimentos {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 15px;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px pink;
}

.chef {
    width: 40%;
}

.texto2 {
    color: white;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

#mensaje {
    display: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.btn-regresar {
    background-color: coral;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-regresar:hover {
    background-color: rgb(248, 26, 26);
    color: white;
}

.categoria-boton {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.categoria-boton:hover {
    background: pink;
}

.btn-sugerencia {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 15px violet;
}

.btn-sugerencia:hover {
    background-color: palevioletred;
    color: white;
    border: 2px solid pink;
}

@media (min-width: 768px) {
    .chef {
        width: 20%;
    }
}